@model Videos.Models.ViewModel.VideoDataView
<script>
    $(function() {
        $("#modal_form_video").on("click", ".salvar", function() {
            var array = $("#form_video").serializeArray();
            var json = {};

            jQuery.each(array, function() {
                json[this.name] = this.value || '';
            });

            $.ajax({
                url: '@Url.Action("SalvarVideoJquery", "Jquery")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(json),
                success: function (resposta) {
                    $("#modal_form_video").modal('hide');
                }
            });
        });

        $("#modal_form_video").on("click", ".atualizar_metadata", function() {
            $.post('@Url.Action("AtualizarMetadataJquery", "Jquery")', { id: $(this).closest('div').find("#Id").val() },
            function(resposta) {
                $("#video_metadata").html(resposta);
            });
        });

        $('#modal_form_video').on('show.bs.modal', function(e) {
            tokenize_init();
        });

        tokenize_init();
    });

    function tokenize_init() {
        $('#form_video #select_artistas').tokenize2({
            searchFromStart: false,
            dropdownMaxItems: 30,
            delimiter: ';', //,
            placeholder: 'Artista' //false
        });
        $('#form_video #select_artistas').on('tokenize:tokens:add', function(e, value, text) {
            $.post('@Url.Action("AdicionarArtistaJquery", "Jquery")', { id: value, nome_artista: text, model: "@Model.GetType().Name" },
            function(resposta) {
                $("#form_video #lista_artistas").html(resposta);
            });
        });
        $('#form_video #select_artistas').on('tokenize:tokens:remove', function(e, value) {
            $.post('@Url.Action("RemoverArtistaJquery", "Jquery")', { id: value, model: "@Model.GetType().Name" },
            function(resposta) {
                $("#form_video #lista_artistas").html(resposta);
            });
        });
        $('#form_video #select_artistas').on('tokenize:select', function(e, value) {
            $(this).tokenize2().trigger('tokenize:search', [$(this).tokenize2().input.val()]);
        });
        $("#form_video #lista_artistas div").each(function() {
            var id = $(this).find('input[type=hidden]').val();
            var text = $(this).find('label').html();
            $('#form_video #select_artistas').tokenize2().trigger('tokenize:tokens:add', [id, text, true]);
        });
        $('#form_video #select_musicas').tokenize2({
            searchFromStart: false,
            tokensAllowCustom: true,
            delimiter: ';', //,
            placeholder: 'Música' //false
        });
        $('#form_video #select_musicas').on('tokenize:tokens:add', function(e, value, text) {
            var titulo = text;
            if (titulo == undefined) {
                titulo = value;
            }
            $.post('@Url.Action("AdicionarMusicaJquery", "Jquery")', { titulo_musica: titulo, model: "@Model.GetType().Name" },
            function(resposta) {
                $("#form_video #lista_musicas").html(resposta);
            });
        });
        $('#form_video #select_musicas').on('tokenize:tokens:remove', function(e, value) {
            $.post('@Url.Action("RemoverMusicaJquery", "Jquery")', { titulo_musica: value, model: "@Model.GetType().Name" },
            function(resposta) {
                $("#form_video #lista_musicas").html(resposta);
            });
        });
        $("#form_video #lista_musicas div").each(function() {
            var id = $(this).find('input[type=hidden]').val();
            var text = $(this).find('label').html();
            $('#form_video #select_musicas').tokenize2().trigger('tokenize:tokens:add', [id, text, true]);
        });
        $('#form_video #select_tags').tokenize2({
            searchFromStart: false,
            tokensAllowCustom: true,
            delimiter: ';', //,
            placeholder: 'Tag' //false
        });
        $('#form_video #select_tags').on('tokenize:tokens:add', function(e, value, text) {
            var nome = text;
            if (nome == undefined) {
                nome = value;
            }
            $.post('@Url.Action("AdicionarTagJquery", "Jquery")', { nome_tag: nome, model: "@Model.GetType().Name" },
            function(resposta) {
                $("#form_video #lista_tags").html(resposta);
            });
        });
        $('#form_video #select_tags').on('tokenize:tokens:remove', function(e, value) {
            $.post('@Url.Action("RemoverTagJquery", "Jquery")', { nome_tag: value, model: "@Model.GetType().Name" },
            function(resposta) {
                $("#form_video #lista_tags").html(resposta);
            });
        });
        $("#form_video #lista_tags div").each(function() {
            var id = $(this).find('input[type=hidden]').val();
            var text = $(this).find('label').html();
            $('#form_video #select_tags').tokenize2().trigger('tokenize:tokens:add', [id, text, true]);
        });
    }
</script>
<div class="modal-body row">
    <div class="col-md-12">
        @foreach (string thumb in Model.Thumbs) {
            <img class="img-rounded img-responsive form_thumb" src="~/capturas/@thumb">
        }
    </div>
    <div style="clear:both;margin-bottom:10px"></div>
    <form id="form_video">
        <div class="col-md-12" id="video_metadata">
            @Html.HiddenFor(model => Model.Id, new { @Value = Model.Id })
            @Html.HiddenFor(model => Model.Duracao, new { @Value = Model.Duracao })
            @Html.HiddenFor(model => Model.Resolucao, new { @Value = Model.Resolucao })
            @Html.HiddenFor(model => Model.FormatoVideo, new { @Value = Model.FormatoVideo })
            @Html.HiddenFor(model => Model.Fps, new { @Value = Model.Fps })
            @Html.HiddenFor(model => Model.CanaisAudio, new { @Value = Model.CanaisAudio })
            @Html.HiddenFor(model => Model.FormatoAudio, new { @Value = Model.FormatoAudio })
            Artista: @Model.ArtistaPrincipal, Duração: @Model.Duracao, Resolução: @Model.Resolucao, Formato Vídeo: @Model.FormatoVideo, FPS: @Model.Fps, Canais: @Model.CanaisAudio, Formato Áudio: @Model.FormatoAudio
            <button type="button" class="btn btn-default atualizar_metadata" aria-label="Atualizar">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Titulo, new { @style = "display:block" })
                @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control input_titulo", @placeholder = "Título", @Value = Model.Titulo })
            </div>
        </div>
        <div class="col-md-4">
            <label for="artistas" style="display:block">Artistas</label>
            @Html.DropDownListFor(model => Model.ListaArtistas,
            new SelectList(Model.ListaArtistas, "id", "nome", Model.ListaArtistas), null, new { @id = "select_artistas", @class = "form-control campo_filtro", @multiple = true })
            <div id="lista_artistas" style="display: none">
                @for (int i = 0; i < Model.Artistas.Count; i++) {
                    <div>
                        @Html.HiddenFor(model => Model.Artistas[i].id, new { @Value = Model.Artistas[i].id })
                        <label>@Model.Artistas[i].nome</label>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-4">
            <label for="musicas" style="display:block">Musicas</label>
            @Html.DropDownListFor(model => Model.ListaMusicas,
            new SelectList(Model.ListaMusicas, "id", "titulo", Model.ListaMusicas), null, new { @id = "select_musicas", @class = "form-control campo_filtro", @multiple = true })
            <div id="lista_musicas" style="display: none">
                @for (int i = 0; i < Model.Musicas.Count; i++) {
                    <div>
                        @Html.HiddenFor(model => Model.Musicas[i].id, new { @Value = Model.Musicas[i].id })
                        <label>@Model.Musicas[i].titulo</label>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-4">
            <label for="tags" style="display:block">Tags</label>
            @Html.DropDownListFor(model => Model.ListaTags,
            new SelectList(Model.ListaTags, "id", "nome", Model.ListaTags), null, new { @id = "select_tags", @class = "form-control campo_filtro", @multiple = true })
            <div id="lista_tags" style="display: none">
                @for (int i = 0; i < Model.Tags.Count; i++) {
                    <div>
                        @Html.HiddenFor(model => Model.Tags[i].id, new { @Value = Model.Tags[i].id })
                        <label>@Model.Tags[i].nome</label>
                    </div>
                }
            </div>
        </div>
    </form>
</div>