@model Videos.Models.ViewModel.VideosView
<script>
    $(function() {
        $(".coluna_titulo").click(function() {
            var id = $(this).find(".id").val();
            $.post('@Url.Action("ExibirFormVideo", "Jquery")', { id: id },
            function(resposta) {
                $("#modal_form_video .modal-body").html(resposta);
                $("#modal_form_video").modal('show');
            });
        });
    });
</script>
<div class="modal fade" id="modal_form_video" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Vídeo</h4>
            </div>
            <div class="modal-body row"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary salvar">Salvar</button>
                <button type="button" class="btn btn-primary cancelar" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped table-hover table-condensed table-bordered">
    <thead>
        <tr>
            <th>Artista</th>
            <th>Título</th>
            <th>Tipo</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var video in Model.listaVideos) {
            <tr>
                <td>@video.video_artista.FirstOrDefault().artista.nome</td>
                <td class="coluna_titulo">
                    <input type="hidden" class="id" value="@video.id" />
                    @video.titulo
                </td>
                <td>@video.tipo.descricao</td>
                <td>@video.data.Value.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>