@model Videos.Models.ViewModel.VideosView
<script>
    $(function() {
        $("#tabela_videos").on("click", ".edit", function() {
            var id = $(this).closest("td").find(".id").val();
            $.post('@Url.Action("ExibirFormVideo", "Jquery")', { id: id },
            function(resposta) {
                $("#modal_form_video .modal-body").html(resposta);
                $("#modal_form_video").modal('show');
            });
        });
        $("#tabela_videos").on("click", ".play", function() {
            var id = $(this).closest('td').find('.id_play').val();
            $.post('@Url.Action("PlayVideo", "Jquery")', { id: id },
            function(resposta) {
                window.location = "play:K:\\Vídeos\\play.m3u";
            });
        });
        $("#tabela_videos").on("click", ".favorito", function() {
            var botao = $(this).find('span');
            var id = $(this).closest('td').find('.id_favorito').val();
            $.post('@Url.Action("SetVideoFavorito", "Jquery")', { id: id, favorito: botao.hasClass('glyphicon-star') },
            function(resposta) {
                botao.toggleClass("glyphicon-star");
                botao.toggleClass("glyphicon-star-empty");
            });
        });
        $("#div_filtros").on("click", ".filtrar", function() {
            var array = $("#filtro").serializeArray();
            var json = {};

            jQuery.each(array, function() {
                json[this.name] = this.value || '';
            });

            $.ajax({
                url: '@Url.Action("FiltrarVideosJquery", "Jquery")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(json),
                success: function(resposta) {
                    $("#tabela_videos").html(resposta);
                    $.bootstrapSortable(true);
                }
            });
        });
        $("#tabela_videos").on("click", ".check_all", function () {
            if ($(this).is(":checked")) {
                $("#tabela_videos tbody").find("tr").each(function() {
                    $(this).removeClass("tr_check");
                    $(this).addClass("tr_checked");
                });
                $("#tabela_videos tbody").find("td").each(function() {
                    $(this).removeClass("td_check");
                    $(this).addClass("td_checked");
                });
            }
            else {
                $("#tabela_videos tbody").find("tr").each(function() {
                    $(this).removeClass("tr_checked");
                    $(this).addClass("tr_check");
                });
                $("#tabela_videos tbody").find("td").each(function() {
                    $(this).removeClass("td_checked");
                    $(this).addClass("td_check");
                });
            }
        });
        $("#tabela_videos").on("click", "td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(4)", function() {
            var tr = $(this).closest("tr");
            if (tr.hasClass("tr_check")) {
                tr.removeClass("tr_check");
                tr.addClass("tr_checked");
                $(tr).find("td").each(function() {
                    $(this).removeClass("td_check");
                    $(this).addClass("td_checked");
                });
            }
            else {
                tr.removeClass("tr_checked");
                tr.addClass("tr_check");
                $(tr).find("td").each(function() {
                    $(this).removeClass("td_checked");
                    $(this).addClass("td_check");
                });
            }
        });
        $("#tabela_videos").on("click", ".playlist", function() {
            $("#span_nome_playlist").fadeToggle();
        });
        $("#tabela_videos").on("click", ".btn_gerar_playlist", function() {
            var json = {};

            var array_playlist = new Array();
            $('.tr_checked').each(function() {
                array_playlist.push($(this).find(".check_videos").val());
            });

            json["Playlist"] = array_playlist.join();
            json["NomePlaylist"] = $("#nome_playlist").val();

            $.ajax({
                url: '@Url.Action("GerarPlaylistJquery", "Jquery")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(json),
                success: function(resposta) {
                    //alert('foi');
                }
            });
        });
        $("#tabela_videos").on("click", ".atualizar_videos", function() {
            $.ajax({
                url: '@Url.Action("AtualizarVideosJquery", "Jquery")',
                type: 'POST',
                contentType: 'application/json',
                success: function(resposta) {
                    alert('foi');
                }
            });
        });
        $('#div_filtros #select_artista_principal').tokenize2({
            searchFromStart: false,
            dropdownMaxItems: 30,
            delimiter: ';', //,
            placeholder: 'Artista Principal' //false
        });
        $('#div_filtros #select_artista_principal').on('tokenize:tokens:add', function (e, value, text) {
            $.post('@Url.Action("AdicionarArtistaPrincipalJquery", "Jquery")', { id: value, nome_artista: text, model: "@Model.GetType().Name" },
            function (resposta) {
                $("#div_filtros #lista_artista_principal").html(resposta);
            });
        });
        $('#div_filtros #select_artista_principal').on('tokenize:tokens:remove', function (e, value) {
            $.post('@Url.Action("RemoverArtistaPrincipalJquery", "Jquery")', { id: value, model: "@Model.GetType().Name" },
            function (resposta) {
                $("#div_filtros #lista_artista_principal").html(resposta);
            });
        });
        $('#div_filtros #select_artista_principal').on('tokenize:select', function(e, value) {
            $(this).tokenize2().trigger('tokenize:search', [$(this).tokenize2().input.val()]);
        });
        $('#div_filtros #select_artistas').tokenize2({
            searchFromStart: false,
            dropdownMaxItems: 30,
            delimiter: ';', //,
            placeholder: 'Artista' //false
        });
        $('#div_filtros #select_artistas').on('tokenize:tokens:add', function(e, value, text) {
            $.post('@Url.Action("AdicionarArtistaJquery", "Jquery")', { id: value, nome_artista: text, model: "@Model.GetType().Name" },
            function (resposta) {
                $("#div_filtros #lista_artistas").html(resposta);
            });
        });
        $('#div_filtros #select_artistas').on('tokenize:tokens:remove', function(e, value) {
            $.post('@Url.Action("RemoverArtistaJquery", "Jquery")', { id: value, model: "@Model.GetType().Name" },
            function (resposta) {
                $("#div_filtros #lista_artistas").html(resposta);
            });
        });
        $('#div_filtros #select_artistas').on('tokenize:select', function(e, value) {
            $(this).tokenize2().trigger('tokenize:search', [$(this).tokenize2().input.val()]);
        });
        $('#div_filtros #select_musicas').tokenize2({
            searchFromStart: false,
            delimiter: ';', //,
            placeholder: 'Música' //false
        });
        $('#div_filtros #select_musicas').on('tokenize:tokens:add', function(e, value) {
            $.post('@Url.Action("AdicionarMusicaJquery", "Jquery")', { titulo_musica: value, model: "@Model.GetType().Name" },
            function (resposta) {
                $("#div_filtros #lista_musicas").html(resposta);
            });
        });
        $('#div_filtros #select_musicas').on('tokenize:tokens:remove', function(e, value) {
            $.post('@Url.Action("RemoverMusicaJquery", "Jquery")', { titulo_musica: value, model: "@Model.GetType().Name" },
            function (resposta) {
                $("#div_filtros #lista_musicas").html(resposta);
            });
        });
        $('#div_filtros #select_tags').tokenize2({
            searchFromStart: false,
            delimiter: ';', //,
            placeholder: 'Tag' //false
        });
        $('#div_filtros #select_tags').on('tokenize:tokens:add', function(e, value) {
            $.post('@Url.Action("AdicionarTagJquery", "Jquery")', { nome_tag: value, model: "@Model.GetType().Name" },
            function (resposta) {
                $("#div_filtros #lista_tags").html(resposta);
            });
        });
        $('#div_filtros #select_tags').on('tokenize:tokens:remove', function(e, value) {
            $.post('@Url.Action("RemoverTagJquery", "Jquery")', { nome_tag: value, model: "@Model.GetType().Name" },
            function (resposta) {
                $("#div_filtros #lista_tags").html(resposta);
            });
        });
        $('#div_filtros #select_tipos').tokenize2({
            tokensAllowCustom: false,
            searchFromStart: false,
            delimiter: ';', //,
            placeholder: false
        });
        $('#div_filtros #select_tipos').on('tokenize:tokens:add', function(e, value, text) {
            $.post('@Url.Action("AdicionarTipoJquery", "Jquery")', { id: value, descricao: text, model: "@Model.GetType().Name" },
            function (resposta) {
                $("#div_filtros #lista_tipos").html(resposta);
            });
        });
        $('#div_filtros #select_tipos').on('tokenize:tokens:remove', function(e, value) {
            $.post('@Url.Action("RemoverTipoJquery", "Jquery")', { id: value, model: "@Model.GetType().Name" },
            function (resposta) {
                $("#div_filtros #lista_tipos").html(resposta);
            });
        });
        $('#div_filtros #select_tipos').on('tokenize:select', function(e, value) {
            $(this).tokenize2().trigger('tokenize:search', [$(this).tokenize2().input.val()]);
        });

        $("#div_filtros").fadeIn();
        $("#tabela_videos").fadeIn();
    });
</script>
<div class="modal fade" id="modal_form_video" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Vídeo</h4>
            </div>
            <div class="modal-body row"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger excluir pull-left">Excluir</button>
                <button type="button" class="btn btn-primary salvar">Salvar</button>
                <button type="button" class="btn btn-primary cancelar" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12" id="div_filtros" style="display: none">
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">
            <form id="filtro">
                <div class="col-md-4">
                    <label style="display:block">Artista principal</label>
                    @Html.DropDownListFor(model => Model.ListaArtistas,
                    new SelectList(Model.ListaArtistas, "id", "nome", Model.ListaArtistas), null, new { @id = "select_artista_principal", @class = "form-control campo_filtro", @multiple = true })
                    <div id="lista_artista_principal" style="display: none"></div>
                </div>
                <div class="col-md-4">
                    <label style="display:block">Artistas</label>
                    @Html.DropDownListFor(model => Model.ListaArtistas,
                    new SelectList(Model.ListaArtistas, "id", "nome", Model.ListaArtistas), null, new { @id = "select_artistas", @class = "form-control campo_filtro", @multiple = true })
                    <div id="lista_artistas" style="display: none"></div>
                </div>
                <div class="col-md-4">
                    <label style="display:block">Tipos</label>
                    @Html.DropDownListFor(model => Model.ListaTipos,
                    new SelectList(Model.ListaTipos, "id", "descricao", Model.ListaTipos), null, new { @id = "select_tipos", @class = "form-control campo_filtro", @multiple = true })
                    <div id="lista_tipos" style="display: none"></div>
                </div>
                <div id="lista_artistas" style="display: none"></div>
                <div class="col-md-4">
                    <label style="display:block">Músicas</label>
                    @Html.DropDownListFor(model => Model.ListaMusicas,
                    new SelectList(Model.ListaMusicas, "titulo", "titulo", Model.ListaMusicas), null, new { @id = "select_musicas", @class = "form-control campo_filtro", @multiple = true })
                    <div id="lista_musicas" style="display: none"></div>
                </div>
                <div class="col-md-4">
                    <label style="display:block">Tags</label>
                    @Html.DropDownListFor(model => Model.ListaTags,
                    new SelectList(Model.ListaTags, "nome", "nome", Model.ListaTags), null, new { @id = "select_tags", @class = "form-control campo_filtro", @multiple = true })
                    <div id="lista_tags" style="display: none"></div>
                </div>
                <div class="col-md-4" style="margin-top: 25px">
                    <button type="button" class="btn btn-default filtrar" aria-label="Filtrar">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="panel panel-default panel_tabela">
    <div id="tabela_videos" style="display: none">
        @{Html.RenderPartial("~/Views/Jquery/VideoListView.cshtml", Model);}
    </div>
</div>