@model Videos.Models.ViewModel.VideosView
<script>
    $(function() {
        $("#tabela_videos").on("click", ".coluna_titulo", function() {
            var id = $(this).find(".id").val();
            $.post('@Url.Action("ExibirFormVideo", "Jquery")', { id: id },
            function(resposta) {
                $("#modal_form_video .modal-body").html(resposta);
                $("#modal_form_video").modal('show');
            });
        });
        $("#tabela_videos").on("click", ".play", function() {
            var id = $(this).closest('td').find('.id_play').val();
            $.post('@Url.Action("PlayVideo", "Jquery")', { id: id });
        });
        $("#div_filtros").on("click", ".filtrar", function() {
            var array = $("#filtro").serializeArray();
            var json = {};

            jQuery.each(array, function() {
                json[this.name] = this.value || '';
            });

            $.ajax({
                url: '@Url.Action("FiltrarVideosJquery", "Jquery")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(json),
                success: function(resposta) {
                    $("#tabela_videos").html(resposta);
                }
            });
        });
        $("#div_filtros").on("click", ".playlist", function() {
            var array = $("#filtro").serializeArray();
            var json = {};

            jQuery.each(array, function() {
                json[this.name] = this.value || '';
            });

            var array_playlist = new Array();
            $('.check_videos:checked').each(function() {
                if (this.value != "undefined") {
                    array_playlist.push(this.value);
                }
            });

            json["Playlist"] = array_playlist.join();
            console.log(json);
            $.ajax({
                url: '@Url.Action("GerarPlaylistJquery", "Jquery")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(json),
                success: function(resposta) {
                    //alert('foi');
                }
            });
        });
        $("#tabela_videos").on("click", ".atualizar_videos", function() {
            $.ajax({
                url: '@Url.Action("AtualizarVideosJquery", "Jquery")',
                type: 'POST',
                contentType: 'application/json',
                success: function(resposta) {
                    //alert('foi');
                }
            });
        });
        $('#select_artista_principal').tokenize2({
            searchFromStart: false,
            delimiter: ';', //,
            tokensMaxItems: 1,
            placeholder: 'Artista Principal' //false
        });
        $('#select_artista_principal').on('tokenize:select', function (e, value) {
            $(this).tokenize2().trigger('tokenize:search', [$(this).tokenize2().input.val()]);
        });
        $('#select_artistas').tokenize2({
            searchFromStart: false,
            delimiter: ';', //,
            placeholder: 'Artista' //false
        });
        $('#select_artistas').on('tokenize:tokens:add', function (e, value, text) {
            $.post('@Url.Action("AdicionarArtistaJquery", "Jquery")', { id: value, nome_artista: text, model: "@Model.GetType().Name" },
            function (resposta) {
                $("#div_filtros #lista_artistas").html(resposta);
            });
        });
        $('#select_artistas').on('tokenize:tokens:remove', function (e, value) {
            $.post('@Url.Action("RemoverArtistaJquery", "Jquery")', { id: value, model: "@Model.GetType().Name" },
            function (resposta) {
                $("#div_filtros #lista_artistas").html(resposta);
            });
        });
        $('#select_artistas').on('tokenize:select', function (e, value) {
            $(this).tokenize2().trigger('tokenize:search', [$(this).tokenize2().input.val()]);
        });
        $('#select_musicas').tokenize2({
            searchFromStart: false,
            delimiter: ';', //,
            placeholder: 'Música' //false
        });
        $('#select_musicas').on('tokenize:tokens:add', function (e, value) {
            $.post('@Url.Action("AdicionarMusicaJquery", "Jquery")', { titulo_musica: value, model: "@Model.GetType().Name" },
            function (resposta) {
                $("#div_filtros #lista_musicas").html(resposta);
            });
        });
        $('#select_musicas').on('tokenize:tokens:remove', function (e, value) {
            $.post('@Url.Action("RemoverMusicaJquery", "Jquery")', { id: value, model: "@Model.GetType().Name" },
            function (resposta) {
                $("#div_filtros #lista_musicas").html(resposta);
            });
        });
        $('#select_tags').tokenize2({
            searchFromStart: false,
            delimiter: ';', //,
            placeholder: 'Tag' //false
        });
        $('#select_tags').on('tokenize:tokens:add', function (e, value) {
            $.post('@Url.Action("AdicionarTagJquery", "Jquery")', { nome_tag: value, model: "@Model.GetType().Name" },
            function (resposta) {
                $("#div_filtros #lista_tags").html(resposta);
            });
        });
        $('#select_tags').on('tokenize:tokens:remove', function (e, value) {
            $.post('@Url.Action("RemoverTagJquery", "Jquery")', { id: value, model: "@Model.GetType().Name" },
            function (resposta) {
                $("#div_filtros #lista_tags").html(resposta);
            });
        });
        $('#select_tipos').tokenize2({
            tokensAllowCustom: false,
            searchFromStart: false,
            delimiter: ';', //,
            placeholder: false
        });
        $('#select_tipos').on('tokenize:tokens:add', function (e, value, text) {
            $.post('@Url.Action("AdicionarTipoJquery", "Jquery")', { id: value, descricao: text, model: "@Model.GetType().Name" },
            function (resposta) {
                $("#div_filtros #lista_tipos").html(resposta);
            });
        });
        $('#select_tipos').on('tokenize:tokens:remove', function (e, value) {
            $.post('@Url.Action("RemoverTipoJquery", "Jquery")', { id: value, model: "@Model.GetType().Name" },
            function (resposta) {
                $("#div_filtros #lista_tipos").html(resposta);
            });
        });
        $('#select_tipos').on('tokenize:select', function (e, value) {
            $(this).tokenize2().trigger('tokenize:search', [$(this).tokenize2().input.val()]);
        });
    });
</script>
<div class="modal fade" id="modal_form_video" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Vídeo</h4>
            </div>
            <div class="modal-body row"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary salvar">Salvar</button>
                <button type="button" class="btn btn-primary cancelar" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12" id="div_filtros">
    <div class="panel panel-default">
        <div class="panel-heading">Filtros</div>
        <div class="panel-body">
            <form id="filtro">
                <div class="col-md-4">
                    <label style="display:block">Artista principal</label>
                    @Html.DropDownListFor(model => Model.ArtistaPrincipal,
                    new SelectList(Model.ListaArtistas, "id", "nome", Model.ListaArtistas), null, new { @id = "select_artista_principal", @class = "form-control campo_filtro", @multiple = true })
                </div>
                <div class="col-md-4">
                    <label style="display:block">Artistas</label>
                    @Html.DropDownListFor(model => Model.ListaArtistas,
                    new SelectList(Model.ListaArtistas, "id", "nome", Model.ListaArtistas), null, new { @id = "select_artistas", @class = "form-control campo_filtro", @multiple = true })
                    <div id="lista_artistas" style="display: none"></div>
                </div>
                <div class="col-md-4">
                    <label style="display:block">Tipos</label>
                    @Html.DropDownListFor(model => Model.ListaTipos,
                    new SelectList(Model.ListaTipos, "id", "descricao", Model.ListaTipos), null, new { @id = "select_tipos", @class = "form-control campo_filtro", @multiple = true })
                    <div id="lista_tipos" style="display: none"></div>
                </div>
                <div id="lista_artistas" style="display: none"></div>
                <div class="col-md-4">
                    <label style="display:block">Músicas</label>
                    @Html.DropDownListFor(model => Model.ListaMusicas,
                    new SelectList(Model.ListaMusicas, "titulo", "titulo", Model.ListaMusicas), null, new { @id = "select_musicas", @class = "form-control campo_filtro", @multiple = true })
                    <div id="lista_musicas" style="display: none"></div>
                </div>
                <div class="col-md-4">
                    <label style="display:block">Tags</label>
                    @Html.DropDownListFor(model => Model.ListaTags,
                    new SelectList(Model.ListaTags, "nome", "nome", Model.ListaTags), null, new { @id = "select_tags", @class = "form-control campo_filtro", @multiple = true })
                    <div id="lista_tags" style="display: none"></div>
                </div>
                <div class="col-md-4" style="margin-top: 25px">
                    <button type="button" class="btn btn-default filtrar" aria-label="Filtrar">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default playlist" aria-label="Gerar playlist">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="tabela_videos">
    @{Html.RenderPartial("~/Views/Jquery/VideoListView.cshtml", Model);}
</div>